<html>
<head>
    <title>Sentiments</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
    <div class="container">
        <div data-ng-app="analizator" data-ng-controller="analizatorController">
            <div data-ng-init="init()">
                <div class="panel">
                    <div class="panel-body">
                        <div  class="form-inline">
                            <div class="form-group">
                                <label for="products">Product:</label>
                                <select name="products" id="products" data-ng-model="selectedProduct" class="form-control">
                                    <option value="">Select one</option>
                                    <option data-ng-repeat="p in products" value="{{p.product_id}}">{{p.product_name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="users">User:</label>
                                <select name="users" id="users" data-ng-model="selectedUser" class="form-control">
                                    <option value="">Select one</option>
                                    <option data-ng-repeat="u in users" value="{{u.rid}}">{{u.rid}}</option>
                                </select>
                            </div>
                            <div class="checkbox-inline">
                                <label for="opinion"><input type="checkbox" name="opinion" id="opinion" data-ng-model="opinionFlag"/>With opinions</label>
                            </div>
                            <input type="button" name="submit" class="btn btn-default" data-ng-click="confirmGetSentencesForProduct(selectedProduct, selectedUser)" value="GET SENTENCES"/>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" data-ng-repeat="s in sentences" data-ng-init="s.showLabels = false">
                    <div class="panel-body">{{s.text}}
                        <div data-ng-if="s.opinions && s.opinions.length != 0" data-ng-show="s.showLabels">
                            <span class="label" data-ng-repeat="o in s.opinions" data-ng-init="pol = o.polarity" data-ng-class="{'label-success' : pol == 'positive', 'label-warning' : pol == 'negative'}" data-ng-bind="o.category" style="margin-right: 5px;"></span>
                        </div>
                        <div data-ng-if="s.skyttleData">
                            <div class="col-md-12" data-ng-if="!s.skyttleData['dbFlag']"><h4><span class="label label-default">Skyttle</span></h4>
                            </div>
                            <div class="col-md-12" data-ng-if="s.skyttleData['dbFlag']"><h4><span class="label label-default">DB</span></h4>
                            </div>
                            <div class="col-md-3"><h5>Sentiment scores</h5>
                                <label for="pos">Positive: <span id="pos" data-ng-bind="s.skyttleData['docs'][0]['sentiment_scores']['pos']"></span></label><br />
                                <label for="neu">Neutral: <span id="neu" data-ng-bind="s.skyttleData['docs'][0]['sentiment_scores']['neu']"></span></label><br />
                                <label for="neg">Negative: <span id="neg" data-ng-bind="s.skyttleData['docs'][0]['sentiment_scores']['neg']"></span></label>
                            </div>
                            <div class="col-md-3"><h5>Terms, keywords</h5>
                                <div data-ng-repeat="keyWords in s.skyttleData['docs'][0]['terms']">
                                    <label>Keyword: <span data-ng-bind="keyWords.term" data-ng-init="keyWords.myLabel = labelMap($index)" data-ng-class="keyWords.myLabel" class="label"></span></label>
                                </div>
                            </div>
                            <div class="col-md-6"><h5>Sentiments</h5>
                                <div data-ng-repeat="skyttleSentiments in s.skyttleData['docs'][0]['sentiment']">
                                    <span data-ng-bind="skyttleSentiments.text" data-ng-class="{'label-success' : skyttleSentiments.polarity == 'pos', 'label-warning' : skyttleSentiments.polarity == 'neg'}"></span><br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" data-ng-if="!s.showLabels" data-ng-click="getOpinionForSentence(s); s.showLabels = !s.showLabels">Show existing opinions</div>
                    <div class="panel-footer" data-ng-if="s.showLabels">
                        <span class="label label-default" data-ng-click="activateAnalizator(s, false)">Analyze</span>
                        <span class="label label-primary" data-ng-click="activateAnalizator(s, true)">Force Skyttle</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/app.js"></script>
</body>
</html>
